/*Custom tabs*/
.nav-tabs {
  /*border-bottom: 2px solid #DDD;*/
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border-width: 0;
}

.nav-tabs > li > a {
  border: none;
  color: #666;
}

.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
  border: none;
  color: #006eff !important;
  background: transparent;
}

.nav-tabs > li > a::after {
  content: "";
  background: #006eff;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -1px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}

.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
  transform: scale(1);
}

.tab-nav > li > a::after {
  background: #21527d none repeat scroll 0% 0%;
  color: #fff;
}

.tab-pane {
  padding: 15px 0;
}

.tab-content {
  padding-top: 10px
}

.nav-tabs > li > a {
  background-color: transparent !important;
}

/*---------------------------------------------------------------------------------------------------------*/

input::-webkit-calendar-picker-indicator {
  display: none !important;
}

/*---------------------------------------------------------------------------------------------------------*/

.submit-but {
  background-color: #006eff;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 4px 12px;
}

/*---------------------------------------------------------------------------------------------------------*/

/*Loading overlay*/
.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* added */
.crossHover:hover {
  color: #ef3648;
}
