<!--&lt;!&ndash;ne implementation&ndash;&gt;-->
<!--  <div class="permission-grants-content__card">-->
<!--    <div class="permission-grants-content__header">-->
<!--      <h2 class="permission-grants-content__header-title">{{userGroup.groupName}}</h2>-->
<!--      <svg class="a-icon permission-grants-content__header-icon" (click)="onClickPermissionGroupName(userGroup.id, userGroup)">-->
<!--        <use xlink:href="#edit"></use>-->
<!--      </svg>-->
<!--    </div>-->
<!--    <div class="permission-grants-content__body">-->
<!--      <ul class="permission-grants-content__body-list">-->
<!--        <li class="permission-grants-content__body-item" *ngFor="let subGroup of userGroup.subEmployeeGroups"-->
<!--            (click)="onClickPermissionGroupName(subGroup.id, subGroup)">{{subGroup.groupName}}</li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
