<!--        has-focus-->
<div class="m-form-field">
    <div class="m-form-field__label-wrap">
      <label class="m-form-field__label" for="qualification">Qualification <span class="required">*</span></label>
    </div>
    <div class="m-form-field__field">
      <div class="m-form-field__field-item">
        <span class="m-form-field__pre">
                    <svg class="a-icon m-form-field__pre-icon">
                    <use xlink:href="#search"></use>
                </svg>
                </span>
        <input class="m-form-field__input"  list="qualificationList" name="qualification" id="qualification" type="text" minlength="0"
               maxlength="524288" placeholder="Search for qualification" value="" [(ngModel)]="qualName" >
        <datalist id="qualificationList">
          <option *ngFor="let qualificationKey of qualificationList" value={{qualificationKey.name}}>
        </datalist>
      </div>
    </div>
    <span class="m-form-field__error">error</span>
  </div>

  <!--        has-focus-->
  <div class="m-form-field">
    <div class="m-form-field__label-wrap">
      <label class="m-form-field__label" for="issuer">Issuer <span class="required">*</span></label>
    </div>
    <div class="m-form-field__field">
      <div class="m-form-field__field-item">
        <input class="m-form-field__input" id="issuer" type="text" minlength="0"
               maxlength="524288" placeholder="" value="" [(ngModel)]="issuer">
      </div>
    </div>
    <span class="m-form-field__error">error</span>
  </div>

  <!--        has-focus-->
  <div class="m-form-field">
    <div class="m-form-field__label-wrap">
      <label class="m-form-field__label" for="results">Results</label>
    </div>
    <div class="m-form-field__field">
      <div class="m-form-field__field-item">
        <input class="m-form-field__input" id="results" type="text" minlength="0"
               maxlength="524288" placeholder="" value="" [(ngModel)]="results">
      </div>
    </div>
    <span class="m-form-field__error">error</span>
  </div>

  <!--        has-focus-->
  <div class="m-form-field">
    <div class="m-form-field__label-wrap">
      <label class="m-form-field__label" for="results">Date <span class="required">*</span></label>
    </div>
    <div class="m-form-field__field">
      <div class="m-form-field__field-item">
        <input class="m-form-field__input" type="date" id="calender1" value="123" [(ngModel)]="qualdate">
      </div>
    </div>
    <span class="m-form-field__error">error</span>
  </div>

  <!--        has-focus-->
  <div class="m-form-field">
    <div class="m-form-field__label-wrap">
      <label class="m-form-field__label">Description</label>
    </div><textarea id="test" name="test" rows="8" cols="95" [(ngModel)]="description"></textarea>
  </div>
<!--        has-focus-->
<div class="m-form-field">
  <div class="m-form-field__label-wrap">
    <label class="m-form-field__label">Image</label>
  </div>
<!--  <div class="m-form-field__field">-->
  <div>
<!--    <div class="m-form-field__field-item">-->
      <image-upload *ngIf="showUploader" (uploadFinished)="uploadFinish($event)" [extensions]="['jpg','png','gif','JPEG', '.jpg']"
                    [headers]="{Accept: '*/*'}"
                    [style]="customStyle"
                    [url]="imageUploadUrl"
                    [max]="1"
                    buttonCaption="Browse to upload "
                    dropBoxMessage=" or Drag and Drop to upload (max size 5MB)"></image-upload>
    <!-- show uploaded images with remove icon -->
    <div class="m-form-field">
      <div class="m-form-upload__wraper">
        <ul>
          <div *ngIf="showImage" class="wrapper-image">
            <img  src={{image}} class="uploaded-image" alt="uploaded imaged for a post"/>
            <button (click)="deleteUploadedImage()"
                    class="a-btn a-btn--link o-modal__inner-close custum-alighnment">
              <svg class="a-icon o-modal__close-icon">
                <use xlink:href="#close"></use>
              </svg>
            </button>
          </div>
          </ul>
      </div>
    </div>
<!--    </div>-->
  </div>
</div>

