<!--dropdown component-->
<div class="m-form-field">
  <div class="m-form-field__label-wrap">
    <label class="m-form-field__label">Skill Type <span class="required">*</span></label>
  </div>
  <div class="m-form-field__field">

    <!-- visible in mobile-->
    <div class="m-form-field__field-item">
      <input class="m-form-field__input" id="skill-type" type="text" minlength="0"
             maxlength="524288" placeholder="" value="" [ngModel]="skillType" disabled>
    </div>
    <!-- visible in desktop end-->

  </div>
</div>

<!--        has-focus-->
<div class="m-form-field">
  <div class="m-form-field__label-wrap">
    <label class="m-form-field__label" for="skill">Skills <span class="required">*</span></label>
  </div>
  <div class="m-form-field__field">
    <div class="m-form-field__field-item">
      <input *ngIf="skillType=='Technical Skills'" class="m-form-field__input" name="techSkill"
             id="Skill" type="text" minlength="0"
             maxlength="524288" placeholder="Search for technical skills" value=""
             [(ngModel)]="techSkillDetails.skillName" disabled>
      <input *ngIf="skillType=='Soft Skills'" class="m-form-field__input" name="techSkill"
             id="Skill" type="text" minlength="0"
             maxlength="524288" placeholder="Search for soft skills" value="" [(ngModel)]="softSkillDetails.skillName" disabled>
    </div>
  </div>
  <span class="m-form-field__error">error</span>
</div>

<!--        has-focus-->
<div class="m-form-field">
  <div class="m-form-field__label-wrap">
    <label class="m-form-field__label" for="skillsPersonalRating">Personal Rating <span
      class="required">*</span></label>
  </div>

  <div class="m-form-range__select">
    <div class="rSlider">
      <span class="slide"></span>
      <input (input)="changePersonalRating()" id="skillsPersonalRating" class="select-range" type="range" min="0"
             max="10">
    </div>
    <span *ngIf="skillType=='Technical Skills'" id="demo">{{skillPersonalRate}}</span>
    <span *ngIf="skillType=='Soft Skills'" id="demo">{{skillPersonalRate}}</span>

  </div>

</div>
<!--        has-focus-->
<div class="m-form-field" *ngIf="skillType == 'Technical Skills'">
  <div class="m-form-field__label-wrap">
    <label class="m-form-field__label">Supervisor <span class="required">*</span></label>
  </div>
  <div class="m-form-field__field">
    <!-- visible in desktop-->
    <select class="m-form-field__select" id="supervisor" [(ngModel)]="techSkillSupervisor">
      <option value="undefined" disabled selected>Select</option>
      <option *ngFor="let supervisor of supervisorList" [value]="supervisor.empId">
        {{supervisor.name}}
      </option>
    </select>
    <!-- visible in desktop end-->

  </div>
</div>

<!--        has-focus-->
<div class="m-form-field">
  <div class="m-form-field__label-wrap">
    <label class="m-form-field__label">Description</label>
  </div>
  <textarea *ngIf="skillType == 'Technical Skills'" id="test" name="test" rows="8" cols="95"
            [(ngModel)]="techSkillDetails.comment"></textarea>
  <textarea *ngIf="skillType == 'Soft Skills'" id="test" name="test" rows="8" cols="95"
            [(ngModel)]="softSkillDetails.comment"></textarea>
</div>

<div>
  <p class="error-message">{{validationErrorMessage}}</p>
</div>

