<div class="o-modal" id="editQualifications">

  <!--<div class="o-modal__header">-->
  <!--<button class="a-btn a-btn&#45;&#45;trinity o-modal__close-btn"><i class="icon-close"></i></button>-->
  <!--<button class="a-link-btn o-modal__back-btn u-visible-md"><i class="icon-arrow_back i-icon&#45;&#45;left"></i>Back</button>-->
  <!--<h3 class="t1 o-modal__title">Modal title</h3>-->
  <!--</div>-->

  <div class="o-modal__content edit-personal-details">

    <div class="o-modal__body">
      <div class="o-modal__inner-header">
<!--        <h3 class="o-modal__inner-header-title">Edit Qualifications</h3>-->
        <h3 *ngIf="modalType == 'new'" >Add Qualifications</h3>
        <h3 *ngIf="modalType == 'edit'" >Edit Qualifications</h3>
        <button class="a-btn a-btn--link o-modal__inner-close" (click)="hideModal('editQualifications')">
          <svg class="a-icon o-modal__close-icon">
            <use xlink:href="#close"></use>
          </svg>
        </button>
        <button class="a-btn a-btn--light o-modal__back-btn u-visible-sm" (click)="hideModal('editQualifications')">
          <svg class="a-icon u-mr">
            <use xlink:href="#previous"></use>
          </svg>
          Back
        </button>
      </div>

      <div class="o-tabs">
        <div class="o-tabs__nav">
          <a class="o-tabs__nav-item {{activeTabEducation}}" (click)="onChangeTab('Education')">Education</a>
          <a class="o-tabs__nav-item {{activeTabOther}}" (click)="onChangeTab('Other')">Other</a>
        </div>
        <div class="o-tabs__content">
          <div *ngIf="activeTab == 'Education' && modalType == 'new' && modalId=='editQualifications'" class="o-tabs__pane is-active" id="EducationNew">
            <app-education-tab-new [educationDetails]="educationDetailsForComponent"
                                   [employeeNo]="employeeNoForComponent"
                                   [modalType]="modalType"
                                   (success)="emitSuccess($event)"></app-education-tab-new>
          </div>
          <div *ngIf="activeTab == 'Education' && modalType == 'edit' && modalId=='editQualifications'" class="o-tabs__pane is-active"
               id="EducationEdit">
            <app-education-tab-edit [educationDetails]="eduDetailsToEdit"
                                    [employeeNo]="employeeNoForComponent"
                                    [modalType]="modalType"
                                    (success)="emitSuccess($event)"></app-education-tab-edit>
          </div>
          <div *ngIf="activeTab == 'Other' && modalType == 'new' && modalId=='editQualifications'" class="o-tabs__pane is-active" id="OtherNew">
            <app-other-qualifications-tab-new [employeeNo]="employeeNoForComponent"
                                              [qualificationDetails]="otherQualificationDetailsForComponent"
                                              (success)="emitSuccess($event)"></app-other-qualifications-tab-new>
          </div>
          <div *ngIf="activeTab == 'Other' && modalType == 'edit' && modalId=='editQualifications'" class="o-tabs__pane is-active" id="OtherEdit">
            <app-other-qualifications-tab-edit
              [qualificationDetails]="qualDetailsToEdit"
              [employeeNo]="employeeNoForComponent"
              (success)="emitSuccess($event)"></app-other-qualifications-tab-edit>
          </div>
        </div>
        <div *ngIf="modalType == 'edit'" class="delete-card__item" (click)="delete()">
          <svg class="a-link-btn a-icon c-pax-details__block-main-icon">
            <use xlink:href="#bin"></use>
          </svg>
          <span *ngIf="activeTab=='Education'" class="class="m-form-field__label>Delete education</span>
          <span *ngIf="activeTab=='Other'" class="class="m-form-field__label>Delete qualification</span>
        </div>
      </div>

      <div class="o-modal__footer">
        <div class="o-modal__footer__add"><label class="a-checkbox">
          <input type="checkbox" class="a-checkbox__check" id="qualificationPostOnFeedCheck">
          <span class="a-checkbox__label">
                                            Post on Feed
                                        </span>
        </label>
        </div>
        <button class="a-btn a-btn--primary" (click)="save(activeTab)">Save</button>
      </div>

    </div>

  </div>

</div>
