<div *ngIf="checkPermission.checkUserHavePermissionForSection('Message')">

  <div style="padding-top: 100px; text-align: center">
    <img src="assets/image/under_construction.png">

  </div>

  <div class="form-group">
    <label>Date of Birth <span style="color: red"> *</span></label>
    <div class="input-group">
                    <span class="input-group-addon">
                      <i aria-hidden="true" class="fa fa-calendar"></i>
                    </span>
      <input class="form-control" id="newEmployeeDob" type="datetime-local">
    </div>

    <button (click)="getDateAndTime()" class="btn btn-default">Get DAte</button>
  </div>


  <div class="well">
    <div class="input-append date" id="datetimepicker1">
      <input data-format="dd/MM/yyyy hh:mm:ss" type="text"/>
      <span class="add-on">
        <i data-date-icon="icon-calendar" data-time-icon="icon-time"></i>
      </span>
    </div>
  </div>
  <script type="text/javascript">
    $(function () {
      $('#datetimepicker1').datetimepicker({
        language: 'pt-BR'
      });
    });
  </script>

  <hr>

  <div>
    {{message}}

    <h1>Message from child : {{messageFromChild}}</h1>

    <app-message-chile (messageEvent)="getTheMessageFromChild($event)"
                       [checkInputMessage]="messageFromParent"></app-message-chile>
  </div>


  <image-upload (uploadFinished)="uploadFinish($event)" [extensions]="['jpg','png','gif','JPEG', '.jpg']"
                [headers]="{Accept: '*/*'}"
                [style]="customStyle"
                [url]="imageUploadUrl"
                buttonCaption="Browse to upload "
                dropBoxMessage=" or Drag and Drop to upload (max size 5MB)"></image-upload>
</div>
