<div class="project-wise-card project-wise-card__projects">
  <div class="project-wise-card__box project-wise-card__box--line">

    <div style="display: flex; align-items: center; justify-content: space-between">
      <h5 class="project-wise-card__title project-wise-card__title--main"><B>Check In & Out Employees</B></h5>
      <div style="">
        <div class="">
          <div class="a-switch" style="border: 1px solid #147AD6; border-radius: 5%; background-color: unset">
            <label class="a-switch__item">
              <input type="radio" name="notifySwitch" class="a-switch__item-check" value="New" checked>
              <span class="a-switch__item-label" style="border-radius: 5% 0 0 5%;">New</span>
            </label>
            <label class="a-switch__item">
              <input type="radio" name="notifySwitch" class="a-switch__item-check" value="Archive">
              <span class="a-switch__item-label" style="border-radius: 5% 0 0 5%;">Archive</span>
            </label>
          </div>
        </div>

      </div>
    </div>

    <div class="c-people-dashboard__card--chart">
<!--      <div id="attendanceSummeryChart" style="width: 100%; height: 300px;"></div>-->
    </div>

  </div>
</div>

