<div class="l-wrapper profile-page__wrapper">

  <div class="profile-page__page-content">

    <!--sidebar-->
    <div class="profile-page__sidebar">

      <div class="c-profile-card @@class">
        <div class="c-profile-card__summary">
          <div class="c-page-nav c-page-nav--vertical">
            <nav id="nav-container" class="c-page-nav__wrapper c-page-nav__wrapper--vertical">
              <a class="c-page-nav__item roleWiseDistribution " [ngClass]="{'is-selected': activeTab == 'knowledgeGraphSkillsAdmin'}" (click)="changeTab('knowledgeGraphSkillsAdmin')">
                Technical-Skills</a>
              <a class="c-page-nav__item employeeCadreLine " [ngClass]="{'is-selected': activeTab == 'knowledgeGraphCsrAdmin'}" (click)="changeTab('knowledgeGraphCsrAdmin')">
                CSR</a>
            </nav>
          </div>
        </div>
      </div>

    </div>

    <!--main-->
    <div class="profile-page__main-content">

      <div id="knowledgeGraphSkillsAdmin" class="tabcontent"
           *ngIf="activeTab == 'knowledgeGraphSkillsAdmin'">
        <app-knowledge-graph-skills-admin></app-knowledge-graph-skills-admin>
      </div>

      <div id="knowledgeGraphCsrAdmin" class="tabcontent"
           *ngIf="activeTab == 'knowledgeGraphCsrAdmin'">
        <app-knowledge-graph-csr-admin></app-knowledge-graph-csr-admin>
      </div>


    </div>
  </div>
</div>
