.project-wise-card__title--main {
  margin-top: 0 !important;
  font-weight: 600 !important;
}

.project-wise-card__count {
  margin-top: 0;
  margin-bottom: 2px;
}

.project-wise-card__title {
  margin-top: 0;
}

.project-details__summaray--title {
  margin-bottom: 0;
  margin-top: 0;
}

.attendance-system-logo{
  width: 28px;
  margin-right: 12px;
  object-fit: cover;
}

.pro-employee-card__rowline {
  display: flex;
  align-items: center;
}

.pro-employee-card__rowline:first-child::after {
  content: '';
  border-right: 1px solid #BBBFC3;
  padding-right: 16px;
  margin-right: 16px;
  height: 28px;
}


.m-form-field__results-list {
  padding-left: 0;
}

.m-form-field__results-list .m-form-field__results-item {
  /*border-bottom: 1px solid #ededed;*/
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.m-form-field__drop {
  border-radius: 0;
}

.m-form-field__results-item:hover {
  background-color: #f7f7f7 !important;
}

.m-form-field__results-leftside {
  display: flex;
  align-items: center;
}

.m-form-field__results-icon {
  font-size: 16px;
  margin-right: 8px;
  color: #464646;
}

.m-form-field__results-mobnumber {
  font-size: 13px;
  margin-bottom: 0;
  color: #585858;
}

.m-form-field__results-name {
  margin-bottom: 1px !important;
}

.m-form-field__results-img {
  width: 40px !important;
  height: 40px !important;
  object-fit: cover;
  border-radius: 100px;
  border: 1px solid #e7e7e7;
}

.svg__search__icon:hover {
  cursor: pointer;
}

.export-report-button {
  background-color: #8BC152;
  border: #8BC152;
  color: #FFFFFF;
  width: 130px;
  height: 30px !important;
  padding: 4px 12px;
  border-radius: 4px;
}


.pro-employee-card__location__wfh-requested {
  /*content: '';*/
  border-left: 1px solid #BBBFC3;
  padding-left: 12px;
  margin-left: 12px;
  font-weight: 600;
}

.Approved {
  color: #3BCCA4;
}

.Pending {
  color: #F28616;
}

.Declined {
  color: #EF3637;
}
