/*Custom tabs*/
.nav-tabs {
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
  border: none !important;
  padding: 0 5px;
  font-size: 14px;
  font-weight: 500;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border-width: 0;
}

.nav-tabs > li > a {
  border: none;
  color: #858585;
  background-color: #FFFFFF;
}

.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
  border: none;
  color: #006eff !important;
  background: transparent;
}

.nav-tabs > li > a::after {
  content: "";
  background: #006eff;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -1px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}

.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
  transform: scale(1);
}

.tab-nav > li > a::after {
  background: #006eff none repeat scroll 0% 0%;
  color: #fff;
}

.tab-pane {
  padding: 15px 0;
}

.tab-content {
  padding-top: 10px
}
