<div class="example-container">
  <h2>To do</h2>

  <div
    #todoList="cdkDropList"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListConnectedTo]="[doneList]"
    [cdkDropListData]="todo"
    cdkDropList
    class="example-list">
    <div *ngFor="let item of todo" cdkDrag class="example-box">{{item}}</div>
  </div>
</div>

<div class="example-container">
  <h2>Done</h2>

  <div
    #doneList="cdkDropList"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListConnectedTo]="[todoList]"
    [cdkDropListData]="done"
    cdkDropList
    class="example-list">
    <div *ngFor="let item of done" cdkDrag class="example-box">{{item}}</div>
  </div>
</div>

