/*Card Styles*/
.w3-panel:after, .w3-panel:before {
  content: "";
  display: table;
  clear: both
}

.w3-panel {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 2px;
  background-color: #ffffff !important;
}

.w3-card, .w3-card-2 {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 2px 0px rgba(0, 0, 0, 0.12)
}

.w3-card-4, .w3-hover-shadow:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
}

/*----------------------------------------------------------------------------------*/

/*add button*/
.additembutton {
  text-decoration: none;
  padding-bottom: 10px;
  padding-top: 0;
  color: #006eff;
}

.additembutton:focus,
.additembutton:active:focus {
  outline: none;
}

.postPostBut {
  background-color: #006eff;
  border: #006eff;
  color: #FFFFFF;
  width: 110px;
  height: 30px !important;
  padding: 4px 12px;
}

.pointCursor {
  cursor: pointer;
}

input::-webkit-calendar-picker-indicator {
  display: none !important;
}

/*----------------------------------------------------------------------------------*/
/*Chips*/
.chip {
  margin-top: 10px;
  margin-right: 10px;
  display: inline-block;
  padding: 4px 10px;
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 2px 0px rgba(0, 0, 0, 0.12);
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.closebtn {
  padding-left: 10px;
  color: #Ef3648;
  font-weight: bold;
  float: right;
  font-size: 18px;
  cursor: pointer;
  height: 23px;
}

.closebtn:hover {
  color: #000;
}

/*----------------------------------------------------------------------------------*/
.post-save-modal {
  border-radius: 3px !important;
}

/*----------------------------------------------------------------------------------*/

/*View post*/
.media,
.media-body {
  overflow: visible;
}

.media:after,
.media-body:after {
  content: '';
  clear: both;
  display: block;
}

/*Scrollbar*/
.scrollbar {
  float: left;
  height: 400px;
  overflow-y: scroll;
  width: 100%;
}

.force-overflow {
  min-height: 360px;
}

#style-1::-webkit-scrollbar-track {
}

#style-1::-webkit-scrollbar {
  width: 3px;
}

#style-1::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .1);
}

/*modal resize*/
.resided-modal-content {
  width: 445px !important;
}

/*----------------------------------------------------------------------------------*/

/*EditPost*/
.editpostbtn {
  text-decoration: none;
  padding-bottom: 0;
  padding-top: 0;
  color: #006eff;
}

.editpostbtn:focus,
.editpostbtn:active:focus {
  outline: none;
}

/*DeletePost*/
.updateeditEducationBut {
  background-color: #006eff;
  border: #006eff;
  color: #FFFFFF;
}

/*----------------------------------------------------------------------------------*/

/*Image gallery*/
.gal {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}

.gal img {
  width: 100%;
  padding: 4px 0;
}

@media (max-width: 700px) {
  .gal {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;

  }
}

/*----------------------------------------------------------------------------------*/

.postFeedbackBtn {
  /*border: 0;*/
  /*padding: 0;*/
  text-decoration: none !important;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px !important;
  color: #006eff !important;
}


.likeCommentButtonsAfter {
  font-weight: 400;
  font-size: 14px !important;
  color: #006eff !important;
  text-decoration: none !important;
  outline: none;
  padding: 0 12px 0 0;
  text-align: left;
}

.likeCommentButtonsBefore {
  font-weight: 400;
  font-size: 14px !important;
  color: #60666d !important;
  text-decoration: none !important;
  outline: none;
  padding: 0 12px 0 0;
  text-align: left;
}

.likeCommentButtons:focus,
.likeCommentButtons:active:focus {
  outline: none;
}

.vertical-alignment-helper {
  display: table;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
  pointer-events: none;
}

.modal-content {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width: inherit;
  height: inherit;
  /* To center horizontally */
  margin: 0 auto;
  pointer-events: all;
}

/*----------------------------------------------------------------------------------*/

.deleteCross {
  cursor: pointer;
  color: #c3c3c3;
}

.deleteCross:hover {
  cursor: pointer;
  color: #838383;
}

/*----------------------------------------------------------------------------------*/

.viewMoreBtn {
  text-decoration: none !important;
  color: #c3c3c3;
  border: none !important;
  outline: none;
}

.viewMoreBtn:focus,
.viewMoreBtn:active:focus {
  outline: none;
}

/*----------------------------------------------------------------------------------*/

.privacySelect {
  width: 110px;
  padding: 4px 8px 4px 8px;
  height: 30px !important;
}

.tagInput {
  padding: 4px 8px 4px 8px;
  height: 30px !important;
}

.tagButton {
  padding: 4px 8px 4px 8px;
  height: 30px !important;
}

.well {
  padding: 10px;
}

/*----------------------------------------------------------------------------------*/
/*Greeting color*/
.greetingCard {
  padding: 0 35px 0 15px !important;
}

.crossHover:hover {
  color: #ef3648;
}

/* .morning {
  /*background-color: #FFD450;
}

.afternoon {
  /*background-color: #F6754E;
}

.evening {
  /*background-color: #F7BD21;
}

.night {
  /*background-color: #0A63A6;
}*/

/*----------------------------------------------------------------------------------*/
.hero {
  background: #FFFFFF;
}

.drop-container {
  background: #FFFFFF;
  /*border-radius: 6px;*/
  /*height: 150px;*/
  width: 100%;
  /*box-shadow: 1px 2px 20px rgba(#000000, 0.1);*/
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #C0C4C7;
  margin-bottom: 5px;
}

.upload-button {
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  color: #006eff;
}

.upload-items {
  display: block;
  width: 100%;
}

.upload-item {
  width: 100%;
  display: block;
  margin-top: 20px;
}

.filename {
  display: block;
  padding: 0 0 5px 5px;
  color: #74809D;
}

.progress {
  display: block;
  position: relative;
  width: 100%;
  height: 15px;
  border: 1px solid #006eff;
  border-radius: 2px;
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  background: #006eff;
}

/*----------------------------------------------------------------------------------*/
/*Feed Review*/
.feed-review-well {
  margin: 5px 9% 0 9%;
  width: 82%;
  /*background-color: #EDEDED;*/
}

/*----------------------------------------------------------------------------------*/

.stylish-input-group .input-group-addon {
  background: white !important;
}

.stylish-input-group .form-control {
  border-right: 0;
  box-shadow: 0 0 0;
  border-color: #ccc;
}

.stylish-input-group button {
  border: 0;
  background: transparent;
}

.c-post-modal {
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.c-post-modal:focus {
  outline: none;
}

.post-modal-text-section {
  display: flex;
}

.post-modal-text-section .c-profile-posts__media {
  margin-right: 10px;
}
.post-modal-text-section .c-profile-posts__text {
  color: #232330;
  padding: 8px;
}

.post-modal-text-section .c-profile-posts__text:focus {
  outline: 1px solid #e7e7e7;
}
