@media only screen and (max-width: 992px) {
  .hour-analysis__chart--wrapper {
    grid-template-columns: 1fr;
    grid-gap: 19px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .workeffort-filter_section {
    grid-template-columns: 1fr 1fr;
    grid-gap: 19px;
  }
}

@media only screen and (max-width: 768px) {
  .workeffort-filter_section {
    grid-template-columns: 1fr;
    grid-gap: 19px;
  }
  .workeffort-filter_section .m-form-field-inline {
    grid-template-columns: 1fr;
    grid-gap: 16px;
  }

  .workeffort-filter_section .m-form-field-inline:not(:last-child) {
    margin-bottom: 0px;
  }
}
