<!--Start modal-->

<!--<div class="o-modal" id = "changePwd">-->

<!--  <div class="o-modal__content-sm edit-personal-details">-->

<!--    <div class="o-modal__body">-->
<!--      <div class="o-modal__inner-header header-line__bottom">-->
<!--&lt;!&ndash;        <h3 class="o-modal__inner-header-title ">&ndash;&gt;-->
<!--        <h4>-->
<!--          Change Password</h4>-->
<!--        <button class="a-btn a-btn&#45;&#45;link o-modal__inner-close o-modal__inner-close-sm ">-->
<!--          <svg class="a-icon o-modal__close-icon">-->
<!--            <use xlink:href="#close"></use>-->
<!--          </svg>-->
<!--        </button>-->
<!--        <button class="a-btn a-btn&#45;&#45;light o-modal__back-btn u-visible-sm">-->
<!--          <svg class="a-icon u-mr ">-->
<!--            <use xlink:href="#previous"></use>-->
<!--          </svg>-->
<!--          Back-->
<!--        </button>-->
<!--      </div>-->



<!--      <div class="o-horizontal-form-group login-page__form-group">-->

<!--        <div class="chnage-password-page__form-group__item">-->
<!--          <div class="m-form-item"><div _ngcontent-serverapp-c48="" class="m-form-field">-->
<!--            <label for="pass-name" class="m-form-field__label">New Password</label>-->
<!--            <div class="m-form-field__field">-->
<!--              <input id="passd-name" type="password" minlength="0" maxlength="524288" placeholder="New Password"-->
<!--                     [(ngModel)]="newPassword" class="m-form-field__input ng-untouched ng-pristine ng-valid" (keyup)="setNewPassword($event)" >-->
<!--            </div>-->
<!--          </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="chnage-password-page__form-group__item">-->
<!--          <div class="m-form-item"><div _ngcontent-serverapp-c48="" class="m-form-field">-->
<!--            <label for="pass-name" class="m-form-field__label">Confirm Password</label>-->
<!--            <div class="m-form-field__field">-->
<!--              <input id="pass-name" type="password" minlength="0" maxlength="524288" placeholder="Confirm Password"-->
<!--                     [(ngModel)]="confirmPwd" class="m-form-field__input ng-untouched ng-pristine ng-valid"  (keyup)="setConfirmPassword($event)">-->
<!--            </div>-->
<!--          </div>-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->
<!--    </div>-->
<!--    <div class="o-modal__footer o-modal__footer-sm">-->
<!--      <div class="o-modal__footer__add">-->
<!--          <p class="error-message" id="errorMessage" style="color: red; font-size: 12px;">{{validationErrorMessage}}</p>-->
<!--      </div>-->


<!--      <button class="a-btn a-btn&#45;&#45;primary" (click)="changePassword()">Save</button>-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->


<div class="o-modal" id = "changePwd">
  <div class="o-modal__content-sm profile-summary-modal">
    <div class="o-modal__inner-header">
      <h3 class="o-modal__inner-header-title">Change Password</h3>
      <button class="a-btn a-btn--link o-modal__inner-close" (click)="hideModal('changePwd')">
        <svg class="a-icon o-modal__close-icon">
          <use xlink:href="#close"></use>
        </svg>
      </button>
    </div>

    <div class="o-modal__body">
      <form autocomplete="off">
        <div class="m-form-field">
          <div class="m-form-field__label-wrap">
            <label class="m-form-field__label">New Password</label>
          </div>
          <div class="m-form-field__field">
            <div class="m-form-field__field-item">
              <input class="m-form-field__input" type="password" minlength="0" maxlength="524288" id="newPassword"
                     placeholder="Type here" [(ngModel)]="newPassword" [ngModelOptions]="{standalone: true}" (keyup)="setNewPassword($event)">
            </div>
          </div>
          <span class="m-form-field__error">error</span>
        </div>

        <div class="m-form-field u-mt+">
          <div class="m-form-field__label-wrap">
            <label class="m-form-field__label">Confirm Password</label>
          </div>
          <div class="m-form-field__field">
            <div class="m-form-field__field-item">
              <input class="m-form-field__input" type="password" minlength="0" maxlength="524288" id="confirmPassword"
                     placeholder="Type here" [(ngModel)]="confirmPwd" [ngModelOptions]="{standalone: true}" (keyup)="setConfirmPassword($event)">
            </div>
          </div>
          <span class="m-form-field__error">error</span>
        </div>
      </form>
      <p class="change-password__msg--not-match" id="errorMessage" *ngIf="!validations.confirmPassword && confirmPwd !== '' ">Passwords do not match</p>
      <div *ngIf="!(validations.lowerCase && validations.upperCase && validations.symbol && validations.isUsername && validations.characters && validations.digits)" class="change-password__msg-list">
        <p [class]="validations.characters ? 'change-password__msg--success' : 'change-password__msg--error'">Password required minimum length of 8 characters</p>
        <p [class]="validations.isUsername ? 'change-password__msg--success' : 'change-password__msg--error'">Password cannot equal to username</p>
        <p [class]="validations.digits ? 'change-password__msg--success' : 'change-password__msg--error'">Password must include at least one digit</p>
        <p [class]="validations.upperCase ? 'change-password__msg--success' : 'change-password__msg--error'">Password must include at least one upper case letter</p>
        <p [class]="validations.lowerCase ? 'change-password__msg--success' : 'change-password__msg--error'">Password must include at least one lower case letter</p>
        <p [class]="validations.symbol ? 'change-password__msg--success' : 'change-password__msg--error'">Password must include a symbol</p>
      </div>
    </div>


    <div class="o-modal__footer justify-content-end">
      <div class="">
        <button class="a-btn a-btn--secondary u-mr+" (click)="hideModal('changePwd')">Cancel</button>
        <button [class]="(validations.upperCase && validations.lowerCase && validations.symbol && validations.isUsername && validations.characters && validations.digits && validations.confirmPassword) ? 'a-btn a-btn--primary' : 'a-btn is-disabled' "
                [disabled]="!(validations.upperCase && validations.lowerCase && validations.symbol && validations.isUsername && validations.characters && validations.digits && validations.confirmPassword)"
                (click)="changePassword()">Save</button>
      </div>
    </div>
  </div>
</div>

