.profile-summary-modal .o-modal__inner-header-title {
  margin-top: 0px;
  font-weight: 600 !important;
  font-size: 16px;
  color: #595959;
}


.profile-summary-modal .m-form-field__label {
  font-size: 12px !important;
}


.change-password__msg-list {
  margin-top: 16px;
}

.change-password__msg-list .change-password__msg--error {
  font-size: 12px;
  color: #7f7f7f!important;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.change-password__msg-list .change-password__msg--error::before {
  content: "\f057";
  font: normal normal normal 14px/1 FontAwesome;
  margin-right: 6px;
  font-size: 14px;
  color: #a7a7a7;
}

.change-password__msg-list .change-password__msg--error:last-child {
  margin-bottom: 0px;
}

.change-password__msg-list .change-password__msg--success {
  font-size: 12px;
  color: #18A957!important;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.change-password__msg-list .change-password__msg--success::before {
  content: "\f058";
  font: normal normal normal 14px/1 FontAwesome;
  margin-right: 6px;
  font-size: 14px;
  color: #11783E;
}

.change-password__msg-list .change-password__msg--success:last-child {
  margin-bottom: 0px;
}

.change-password__msg--not-match {
  margin-top: 16px;
  font-size: 12px;
  color: #D92D20;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
}


.change-password__msg--not-match i {
  margin-right: 6px;
  font-size: 14px;
  color: #9A2017;
}


.change-password__msg--not-match::before {
  content: "\f057";
  font: normal normal normal 14px/1 FontAwesome;
  margin-right: 6px;
  font-size: 14px;
  color: #9A2017;
}
