<div class="project-wise-card project-wise-card__projects">
  <div class="project-wise-card__box project-wise-card__box--line">

    <div style="display: flex; align-items: center; justify-content: space-between">
      <h5 class="project-wise-card__title project-wise-card__title--main"><B>Work Hours Distribution</B></h5>
      <div style="display: flex; flex-flow: row; justify-content: right">
        <app-date-company-filters></app-date-company-filters>

      </div>
    </div>
    <div class="c-people-dashboard__card--chart">
      <div id="workHoursChart" style="width: 100%; height: 300px;"></div>
    </div>

  </div>
</div>
