@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.ratingDiv {
  margin: 15%;
  margin-top: 5% !important;
  padding: 4%;
  padding-top: 1% !important;
  min-height: 300px;
  background-color: white;

}
#nextButton{
  margin-top: 10px;
  height: 3.3em;
  width: 8em;
}

.rating{
  margin-left: 20px;
  color: gold;
}

.star{
  padding-right: 5px;
}
#itext {
  margin-bottom: 20px;
  margin-top: 20px;
}
@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}

mat-form-field{
  min-width: 60%;
  padding-bottom: 0px !important;
}
:host ::ng-deep .mat-form-field-wrapper{
  padding-bottom: 0px;
}

mat-list{
  margin-bottom: 20px;
}
@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}

