<!-- <div class="tabset">-->
<!--    &lt;!&ndash; Tab 4 &ndash;&gt;-->
<!--    <input type="radio" name="tabset" id="tab4" aria-controls="detailedSummaryView" checked #detailedSummaryView-->
<!--           *ngIf="componentPermission.WwtTab.subComponentPermissions.WorkEffortOverview.mainComponentPermission">-->
<!--    <label-->
<!--      *ngIf="componentPermission.WwtTab.subComponentPermissions.WorkEffortOverview.mainComponentPermission-->
<!--        "for="tab4" >Effort Overview</label>-->

<!--    &lt;!&ndash;Tab 2 &ndash;&gt;-->
<!--    <input type="radio" name="tabset" id="tab2" aria-controls="detailedView" #detailedView-->
<!--           *ngIf="componentPermission.WwtTab.subComponentPermissions.WorkEffortDetailedView.mainComponentPermission">-->
<!--    <label-->
<!--      *ngIf="componentPermission.WwtTab.subComponentPermissions.WorkEffortDetailedView.mainComponentPermission"-->
<!--      for="tab2">Detailed View</label>-->

<!--    &lt;!&ndash; Tab 3 &ndash;&gt;-->
<!--    <input type="radio" name="tabset" id="tab3" aria-controls="detailedView" #configurationView-->
<!--           *ngIf="componentPermission.WwtTab.subComponentPermissions.WorkEffortConfigurations.mainComponentPermission">-->
<!--    <label-->
<!--      *ngIf="componentPermission.WwtTab.subComponentPermissions.WorkEffortConfigurations.mainComponentPermission"-->
<!--      for="tab3">Configurations</label>-->

<!--    &lt;!&ndash; Tab 1 &ndash;&gt;-->
<!--    <input type="radio" name="tabset" id="tab1" aria-controls="summeryView" #summaryView-->
<!--           *ngIf="componentPermission.WwtTab.subComponentPermissions.WorkEffortSummaryView.mainComponentPermission">-->
<!--    <label for="tab1"-->
<!--           *ngIf="componentPermission.WwtTab.subComponentPermissions.WorkEffortSummaryView.mainComponentPermission"-->
<!--            >Summary View</label>-->


<!--    <div class="tab-panels">-->
<!--      <section id="detailedSummaryView" class="tab-panel"-->
<!--               *ngIf="componentPermission.WwtTab.subComponentPermissions.WorkEffortOverview.mainComponentPermission">-->
<!--        <app-home-tab-work-from-home-detailed-summary-view></app-home-tab-work-from-home-detailed-summary-view>-->
<!--      </section>-->
<!--      <section id="detailedView" class="tab-panel"-->
<!--               *ngIf="componentPermission.WwtTab.subComponentPermissions.WorkEffortDetailedView.mainComponentPermission">-->
<!--        <app-home-tab-work-from-home-detailed-view></app-home-tab-work-from-home-detailed-view>-->
<!--      </section>-->
<!--      <section id="configurationView" class="tab-panel"-->
<!--               *ngIf="componentPermission.WwtTab.subComponentPermissions.WorkEffortConfigurations.mainComponentPermission">-->
<!--        <app-home-tab-work-from-home-configurations-view [summaryViewComponent]="summaryView"></app-home-tab-work-from-home-configurations-view>-->
<!--      </section>-->
<!--      <section id="summeryView" class="tab-panel"-->
<!--               *ngIf="componentPermission.WwtTab.subComponentPermissions.WorkEffortSummaryView.mainComponentPermission">-->
<!--        <app-home-tab-work-from-home-summary-view></app-home-tab-work-from-home-summary-view>-->
<!--      </section>-->
<!--    </div>-->
<!--  </div>-->
