<!--<div class="w3-panel w3-card top-card-class-custom">-->
<!--  <div *ngIf="showDesignationCategoriesList" class="card-containing-div">-->
<!--    <div *ngFor="let designationCategory of designationCategoriesList" class="col-sm-4">-->
<!--      <div class="w3-panel w3-card">-->
<!--        <diV class="header-title-div">-->
<!--          <h5 class="card-title-h5">{{designationCategory.designationGroup.type}}-->
<!--            <button aria-label="Edit"-->
<!--                    class="btn btn-link pull-right" type="button">-->
<!--              <i aria-hidden="true" class="fa fa-pencil"></i>-->
<!--            </button></h5>-->
<!--&lt;!&ndash;          <svg class="btn btn-link pull-right">&ndash;&gt;-->
<!--&lt;!&ndash;            <use xlink:href="#edit"></use>&ndash;&gt;-->
<!--&lt;!&ndash;          </svg>&ndash;&gt;-->
<!--        </diV>-->
<!--        <div class="card-content-div">-->
<!--          <div class="scrollbar" id="style-1">-->
<!--            <div class="force-overflow">-->
<!--              <table class="table table-striped" width="100%">-->
<!--                <tr *ngFor="let designation of designationCategory.designation">-->
<!--                  <td width="100%">-->
<!--                    {{designation.designation}}-->
<!--                  </td>-->
<!--                </tr>-->
<!--              </table>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--new implementation-->
<!--Start editDesignationGroup modal-->

<div class="o-modal" id="editDesignationGroup">

  <div class="o-modal__content edit-personal-details">

    <div class="o-modal__body">

      <div class="o-modal__inner-header">
        <h2 class="c-define-designation__text">Edit Designation Group</h2>
        <button class="a-btn a-btn--link o-modal__inner-close" (click)="hideModal('editDesignationGroup')">
          <svg class="a-icon o-modal__close-icon">
            <use xlink:href="#close"></use>
          </svg>
        </button>
        <button class="a-btn a-btn--light o-modal__back-btn u-visible-sm">
          <svg class="a-icon u-mr">
            <use xlink:href="#previous"></use>
          </svg>
          Back
        </button>
      </div>


      <div class="m-define-designation-group">
        <div class="">
          <div class="m-form-field-inline">
            <div class="m-form-field__label-wrap">
              <label class="m-form-field__label--bold" for="categoryName">Category name</label>
            </div>

            <div class="m-form-field__field">
              <div class="m-form-field__field-item">
                <select [(ngModel)]="editDesignationCategory" class="m-form-field__select"
                        id="categoryName" name="categoryName">
                  <option *ngFor="let mainCategory of designationCategories">
                    {{mainCategory.type}}
                  </option>
                </select>
              </div>
            </div>

            <span class="m-form-field__error">error</span>
          </div>
          <div class="m-form-field-inline">
            <div class="m-form-field__label-wrap">
              <label class="m-form-field__label--bold" for="groupName">Group name</label>
            </div>

            <div class="m-form-field__field">
              <div class="m-form-field__field-item">
                <input class="m-form-field__input" id="groupName" type="text" minlength="0" maxlength="524288"
                       placeholder=""
                       [(ngModel)]="editDesignationGroupData.type" value="{{editDesignationGroupData.type}}">
              </div>
            </div>

            <span class="m-form-field__error">error</span>
          </div>

          <div class="m-form-field-inline">
            <div class="m-form-field__label-wrap">
              <label class="m-form-field__label--bold" for="GroupAbbreviation">Abbreviation</label>
            </div>

            <div class="m-form-field__field">
              <div class="m-form-field__field-item">
                <input class="m-form-field__input" id="GroupAbbreviation" type="text" minlength="0" maxlength="524288"
                       placeholder="" [(ngModel)]="editDesignationGroupData.abbreviation"
                       value="{{editDesignationGroupData.abbreviation}}">
              </div>
            </div>

            <span class="m-form-field__error">error</span>
          </div>
        </div>
      </div>

      <div class="o-modal__footer">
        <div class="o-modal__footer__add" style="cursor: pointer" (click)="deleteDesignationGroup()">
          <div class="m-designation__delete--text">Delete Designation Group</div>
        </div>
        <button class="a-btn a-btn--primary" (click)="editDesignationGroup()">Save</button>
      </div>

    </div>

  </div>
</div>

<!--end editDesignationGroup modal-->

<!--Start editDesignation modal-->

<div class="o-modal" id="editDesignation">

  <div class="o-modal__content edit-personal-details">

    <div class="o-modal__body">

      <div class="o-modal__inner-header">
        <h2 class="c-define-designation__text">Edit Designation</h2>
        <button class="a-btn a-btn--link o-modal__inner-close" (click)="hideModal('editDesignation')">
          <svg class="a-icon o-modal__close-icon">
            <use xlink:href="#close"></use>
          </svg>
        </button>
        <button class="a-btn a-btn--light o-modal__back-btn u-visible-sm">
          <svg class="a-icon u-mr">
            <use xlink:href="#previous"></use>
          </svg>
          Back
        </button>
      </div>


      <div class="m-define-designation-group">
        <div class="">
          <div class="m-form-field-inline">
            <div class="m-form-field__label-wrap">
              <label class="m-form-field__label--bold" for="designationName">Designation</label>
            </div>

            <div class="m-form-field__field">
              <div class="m-form-field__field-item">
                <input class="m-form-field__input" id="designationName" type="text" minlength="0" maxlength="524288"
                       placeholder=""
                       [(ngModel)]="editDesignationData.designation" value="{{editDesignationData.designation}}">
              </div>
            </div>

            <span class="m-form-field__error">error</span>
          </div>

          <div class="m-form-field-inline">
            <div class="m-form-field__label-wrap">
              <label class="m-form-field__label--bold" for="abbreviation">Abbreviation</label>
            </div>

            <div class="m-form-field__field">
              <div class="m-form-field__field-item">
                <input class="m-form-field__input" id="abbreviation" type="text" minlength="0" maxlength="524288"
                       placeholder=""
                       [(ngModel)]="editDesignationData.abbreviation" value="{{editDesignationData.abbreviation}}">
              </div>
            </div>

            <span class="m-form-field__error">error</span>
          </div>

          <div class="m-form-field-inline">
            <div class="m-form-field__label-wrap">
              <label class="m-form-field__label--bold" for="desGroup">Designation Group</label>
            </div>

            <div class="m-form-field__field">
              <div class="m-form-field__field-item">
                <select [(ngModel)]="designationGroupEditing" class="m-form-field__select"
                        id="desGroup" name="desGroup">
                  <option *ngFor="let desGroup of designationGroups">
                    {{desGroup.type}}
                  </option>
                </select>
              </div>
            </div>

            <span class="m-form-field__error">error</span>
          </div>

          <div class="m-form-field-inline">
            <div class="m-form-field__label-wrap">
              <label class="m-form-field__label--bold" for="desCadre">Designation Cadre</label>
            </div>

            <div class="m-form-field__field">
              <div class="m-form-field__field-item">
                <select [(ngModel)]="editDesignationCadre" class="m-form-field__select"
                        id="desCadre" name="desCadre">
                  <option *ngFor="let employeeCadre of designationCadreList">
                    {{employeeCadre.cadre}}
                  </option>
                </select>
              </div>
            </div>

            <span class="m-form-field__error">error</span>
          </div>
        </div>
      </div>

      <div class="o-modal__footer">
        <div class="o-modal__footer__add" style="cursor: pointer" (click)="deleteDesignation()">
          <div class="m-designation__delete--text">Delete Designation</div>
        </div>
        <button class="a-btn a-btn--primary" (click)="editDesignation()">Save</button>
      </div>

    </div>

  </div>
</div>

<!--end editDesignation modal-->

<!---designation roles-->
<div class="c-designnation__roles">
  <div class="m-form-field__field">

    <!-- visible in desktop-->
    <span class="m-form-field__pre">
                    <svg class="a-icon m-form-field__pre-icon">
                    <use xlink:href="#search"></use>
                </svg>
                </span>
    <input name="designation" id="designation" class="m-form-field__input" type="text"
           minlength="0" maxlength="524288" placeholder="Search designation" [(ngModel)]="searchTerm">
  </div>
  <br>
  <div *ngIf="searchTerm !== ''" class="c-accordian-item__description">
    <div *ngFor="let designationCategory of designationCategoriesList">
      <ul class="c-accordian-item__description--item"
          *ngFor="let designation of designationCategory.designation | designationFilterPipe:searchTerm">
        <li class="c-accordian-item__job" style="cursor: pointer" (click)="setDesignationDataToEdit(designation)">
          {{designation.designation}}</li>
      </ul>
    </div>
  </div>

  <div *ngIf="showDesignationCategoriesList && (searchTerm == '' || searchTerm == undefined)">
    <div *ngFor="let designationCategory of designationCategoriesList; let i = index">
      <div class="c-designnation__accordian--item">
        <h2 class="c-designnation__accordian--text">{{designationCategory.designationGroup.type}}</h2>
        <div class="c-designnation__accordian">
          <div class="c-designnation__accordian--edit"
               (click)="setDesignationGroupDataToEdit(designationCategory)">
            <svg class="a-link-btn a-icon c-pax-details__block-main-icon">
              <use xlink:href="#edit"></use>
            </svg>
          </div>

          <div class="c-designnation__accordian--collapse"
               (click)="onClickShowHideDesignations(i, designationCategory)">
            <svg class="a-link-btn a-icon c-accordian__collapse-icon">
              <use xlink:href="#pointer-down" id="icon_direction_{{i}}"></use>
            </svg>
          </div>
        </div>
      </div>

      <div class="c-accordian-item__description" id="designation_{{i}}" style="display: none">
        <ul class="c-accordian-item__description--item" *ngFor="let designation of designationCategory.designation">
          <li class="c-accordian-item__job" style="cursor: pointer" (click)="setDesignationDataToEdit(designation)">
            {{designation.designation}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
