<div class="overall-performance__card">
  <div class="overall-performance__card-header">
    <div class="card-header__section">
      <div class="card-header__section-titles">
        <h3 class="card-header__section-titles-main card-header__section-titles-main--active">Designation Category</h3>
        <span class="card-header__section-titles-sub">(Management, Dev, QA)</span>
      </div>
    </div>
  </div>
  <div class="overall-performance__body">
    <div id="projectMainDesCat">
    </div>
<!--    <div class="overall-performance__empty" *ngIf="!dataLoaded">-->
<!--      <img src="assets/images/empty-img.png" alt="Image" class="overall-performance__empty-img">-->
<!--      <p class="overall-performance__empty-text">No Data Available</p>-->
<!--    </div>-->
  </div>
</div>
