
<div class="c-profile-overview__details">
  <div class="c-matrices-card">
    <div class="c-matrices-card__wrapper">
      <div class="c-matrices-card__text">
        Contribution to CSR Projects
      </div>
      <div class="c-matrices-card__value">
        {{ csrCount }}
      </div>
    </div>
  </div>
  <div class="c-matrices-card">
    <div class="c-matrices-card__wrapper">
      <span class="c-matrices-card__text">
        Actual Work Hours (Avg)
      </span>
      <span class="c-matrices-card__value">
        {{ avgWorkHrs }}
      </span>
    </div>
  </div>
  <div class="c-matrices-card">
    <div class="c-matrices-card__wrapper">
      <span class="c-matrices-card__text">
        In Time(Average)
      </span>
      <div class="c-matrices-card__value">
        {{ avgInTime }}
      </div>
    </div>
  </div>
  <div class="c-matrices-card">
    <div class="c-matrices-card__wrapper">
      <span class="c-matrices-card__text">
        WWT Total Time
      </span>
      <span class="c-matrices-card__value">
        {{ wwtTotalTime }} Hrs
      </span>
    </div>
  </div>
  <div class="c-matrices-card">
    <div class="c-matrices-card__wrapper">
      <span class="c-matrices-card__text">
        Participate Training Hours
      </span>
      <span class="c-matrices-card__value">
        {{ trainingHours }}
      </span>
    </div>
  </div>
  <div class="c-matrices-card">
    <div class="c-matrices-card__wrapper">
      <span class="c-matrices-card__text">
        Time Spend In Office (Avg)
      </span>
      <span class="c-matrices-card__value">
        {{ avgOfficeHrs }}
      </span>
    </div>
  </div>
  <div class="c-matrices-card">
    <div class="c-matrices-card__wrapper">
      <span class="c-matrices-card__text">
        Out Time (Average)
      </span>
      <span class="c-matrices-card__value">
        {{ avgOutTime }}
      </span>
    </div>
  </div>
  <div class="c-matrices-card">
    <div class="c-matrices-card__wrapper">
      <div class="c-matrices-card__text">
        WWT Avg Level
      </div>
      <span class="c-matrices-card__value">
        {{ wwtLevel }}
      </span>
    </div>
  </div>
</div>
