/*Card Styles*/
/* .w3-panel:after, .w3-panel:before {
  content: "";
  display: table;
  clear: both
}

.w3-panel {
  padding: 15px;
  border-radius: 2px;
  background-color: #ffffff !important;
}

.w3-card, .w3-card-2 {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 2px 0px rgba(0, 0, 0, 0.12)
}

.w3-card-4, .w3-hover-shadow:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
} */

/*----------------------------------------------------------------------------------*/
/* 
.mobile-navbar-btn {
  color: #006eff !important;
  text-decoration: none;
  outline: none !important;
}

.blank-tab {
  height: 540px;
} */

/*--------------------------------------------------------------------------------------------------------------------*/
/* .tabs-div {
  background-color: #FFFFFF;
} */

/*Custom tabs*/
.nav-tabs {
  background-color: #FFFFFF;
  margin-top: -20px !important;
  border: none !important;
  padding: 0 5px;
  font-size: 14px;
  font-weight: 500;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border-width: 0;
}

.nav-tabs > li > a {
  border: none;
  color: #858585;
  background-color: #FFFFFF;
}

.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
  border: none;
  color: #006eff !important;
  background: transparent;
}

.nav-tabs > li > a::after {
  content: "";
  background: #006eff;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -1px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}

.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
  transform: scale(1);
}

.tab-nav > li > a::after {
  background: #006eff none repeat scroll 0% 0%;
  color: #fff;
}

.tab-pane {
  padding: 15px 0;
}

.tab-content {
  padding-top: 10px
}


