<div class="opd-settings-header">
  <h4 style="font-weight: 600 !important; font-size: 14px;">OPD Configuration with Designation</h4>
  <div class="user-group-settings-content__button" style="padding-right: 20px;">
    <button class="user-group-settings-content__button-add" style="padding: 0 15px"
            (click)="addNewOpdConfig()">
      <svg class="a-icon user-group-settings-content__button-icon">
        <use xlink:href="#plus"></use>
      </svg>
      Create New OPD Group
    </button>
  </div>
</div>

<div class="opd-settings__body">
  <div class="opd-settings-filter">
    <div class="m-form-field-inline">
    </div>
    <div class="m-form-field-inline">
      <div class="m-form-field__label-wrap" style="justify-content: flex-end;">
        <label class="m-form-field__label--workflow" for="opd-settings-des">Designation</label>
      </div>

      <div class="m-form-field__field m-form-field__min-height">
        <div class="m-form-field__field-item">
          <select class="m-form-field__select " id="opd-settings-des" [(ngModel)]="selectedDesignation"  (change)="getOpdConfigData()">
            <option value= 0>All</option>
            <option *ngFor="let data of designationList" [ngValue]="data.id">{{data.designation}}</option>
          </select>
        </div>
      </div>
      <span class="m-form-field__error">error</span>
    </div>
    <div class="m-form-field-inline">
      <div class="m-form-field__label-wrap"  style="justify-content: flex-end;">
        <label class="m-form-field__label--workflow" for="opd-settings-year">Year</label>
      </div>

      <div class="m-form-field__field m-form-field__min-height">
        <div class="m-form-field__field-item">
          <select class="m-form-field__select " id="opd-settings-year" [(ngModel)]="selectedYear" (change)="getOpdConfigData()">
            <option *ngFor="let data of yearsList">{{data}}</option>
          </select>
        </div>
      </div>
      <span class="m-form-field__error">error</span>
    </div>
  </div>

  <div *ngIf="opdConfigDataLoaded">
    <div class="opd-config-designation-card" *ngFor="let conf of opdConfigData | keyvalue">
      <div class="opd-designation-card__header">
        <h4 style="font-weight: 600 !important; font-size: 14px; color: #147AD6">{{getDesNameFromID(conf.key)}}</h4>
        <button
          class="btn btn-sm btn-add-synonym-model u-mr2-" (click)="displayEditModal(conf.value)">
          <em class="fa fa-pencil"></em>
        </button>
      </div>

      <div class="leave-type__user--dto" style="overflow-x: auto; margin-top: 16px; background: #FFFFFF">
        <table class="c-kriyo-deta__table utilized-leave__table--extend leave-utilization__table"
               style="table-layout:fixed; margin-bottom: 0;"
               aria-describedby="opd-config-with-marital-status">
          <thead class="c-kriyo-deta__table--header" style="position:sticky; top: 0; z-index: 10">
          <tr>
            <th style="width: 220px; min-width: 220px;" scope="col">Marital Status</th>
            <th style="width: 170px; min-width: 170px;" scope="col">Start Date</th>
            <th style="width: 170px; min-width: 170px;" scope="col">End Date</th>
            <th style="width: 170px; min-width: 170px;text-align: right" scope="col">Amount</th>
            <th style="width: 100px; min-width: 100px; position: sticky; top: 0; right: 0; background-color: #147AD6;"
                scope="col"></th>
          </tr>
          </thead>

          <tbody class="c-kriyo-deta__table--body">
          <tr *ngFor="let data of conf.value">
            <td style="width: 220px; min-width: 220px;">{{getStatusNameFromID(data.maritalStatusID)}}</td>
            <td style="width: 170px; min-width: 170px;">{{data.validStart}}</td>
            <td style="width: 170px; min-width: 170px;">{{data.validEnd}}</td>
            <td style="width: 170px; min-width: 170px;text-align: right">{{data.amount | number}}</td>
            <td class="opd-config-btn-group">
              <button
                class="btn btn-sm btn-add-synonym-model u-mr2-" (click)="editOpdConfig(data)">
                <em class="fa fa-pencil"></em>
              </button>
              <button
                class="btn btn-sm btn-remove-synonym-model" (click)="deleteOpdConfig(data)">
                <em class="fa fa-trash"></em>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div *ngIf="!opdConfigDataLoaded" style="text-align: center; top: 25%; margin-top: 20px">
    <img src="assets/image/bad_face.svg" alt="no-data">
    <h4 style="color: #838383">No data available</h4>
  </div>

</div>

<div class="o-modal" id="opdSettingsModalWithDesignation">
  <div class="o-modal__content-sm" style="max-width: 540px">
    <div class="o-modal__body">
      <div class="o-modal__inner-header">
        <h4 style="color: #147AD6; font-weight: 600 !important; font-size: 18px;" *ngIf="addSectionClicked">Add New OPD Group</h4>
        <h4 style="color: #147AD6; font-weight: 600 !important; font-size: 18px;" *ngIf="!addSectionClicked">Edit OPD Group</h4>
        <button class="a-btn a-btn--link o-modal__inner-close" (click)="hideModal('opdSettingsModalWithDesignation')">
          <svg class="a-icon o-modal__close-icon">
            <use xlink:href="#close"></use>
          </svg>
        </button>
        <button class="a-btn a-btn--light o-modal__back-btn u-visible-sm" (click)="hideModal('opdSettingsModalWithDesignation')">
          <svg class="a-icon u-mr">
            <use xlink:href="#previous"></use>
          </svg>
          Back
        </button>
      </div>

      <div class="m-form-field-inline">
        <div class="m-form-field__label-wrap">
          <label class="m-form-field__label--medium" for="designation">Designation</label>
        </div>

        <div class="m-form-field__field">
          <div class="m-form-field__field-item">
            <select class="m-form-field__select " id="designation" [(ngModel)]="selectedDesignationForAddConfig">
              <option *ngFor="let data of designationList" [ngValue]="data.id">{{data.designation}}</option>
            </select>
          </div>
        </div>

        <span class="m-form-field__error">error</span>
      </div>

      <div class="m-form-field-inline">
        <div class="m-form-field__label-wrap">
          <label class="m-form-field__label--medium" for="year">Year</label>
        </div>

        <div class="m-form-field__field">
          <div class="m-form-field__field-item">
            <select class="m-form-field__select " id="year" [(ngModel)]="selectedYearForAddConfig">
              <option *ngFor="let data of yearsList">{{data}}</option>
            </select>
          </div>
        </div>
        <span class="m-form-field__error">error</span>
      </div>

      <div *ngIf="sameForAllStatuses">
        <div class="m-form-field-inline">
          <div class="m-form-field__label-wrap">
            <label class="m-form-field__label--medium" for="opd-config-marital-status-all">Marital Status</label>
          </div>
          <div class="m-form-field__field">
            <div class="m-form-field__field-item">
              <select class="m-form-field__select " id="opd-config-marital-status-all" [disabled]="true">
                <option value="0">All</option>
              </select>
            </div>
          </div>
          <span class="m-form-field__error">error</span>
        </div>
        <div class="m-form-field-inline">
          <div class="m-form-field__label-wrap">
            <label class="m-form-field__label--medium" for="opd-config-startDate">Start Date</label>
          </div>
          <div class="m-form-field__field">
            <div class="m-form-field__field-item">
              <input class="m-form-field__input" id="opd-config-startDate" type="date" minlength="0" maxlength="524288"
                     placeholder="text" value="" [(ngModel)]="opdConfigAllStartDate" (change)="validateAddConfigDateRange()">
            </div>
          </div>
          <span class="m-form-field__error">error</span>
        </div>
        <div class="m-form-field-inline">
          <div class="m-form-field__label-wrap">
            <label class="m-form-field__label--medium" for="opd-config-endDate">End Date</label>
          </div>
          <div class="m-form-field__field">
            <div class="m-form-field__field-item">
              <input class="m-form-field__input" id="opd-config-endDate" type="date" minlength="0" maxlength="524288"
                     placeholder="text" value="" [(ngModel)]="opdConfigAllEndDate" (change)="validateAddConfigDateRange()">
            </div>
          </div>
          <span class="m-form-field__error">error</span>
        </div>
        <div class="m-form-field-inline">
          <div class="m-form-field__label-wrap">
            <label class="m-form-field__label--medium" for="opd-config-amount">Amount</label>
          </div>

          <div class="m-form-field__field">
            <div class="m-form-field__field-item">
              <input class="m-form-field__input" id="opd-config-amount" type="number" minlength="0" maxlength="524288"
                     value="" [(ngModel)]="opdConfigAllAmount">
            </div>
          </div>
          <span class="m-form-field__error">error</span>
        </div>
      </div>


      <label class="a-checkbox" for="checkbox_all" style="display: flex;align-items: center;justify-content: flex-end;padding-bottom: 15px;">
        <input class="a-checkbox__check" (change)="displayCommonSection()"
               id="checkbox_all"
               type="checkbox" [checked]="sameForAllStatuses">
        <span class="a-checkbox__label permission-setting__checkbox--label" style="font-weight: 600; color: #707070">Same amount for all marital statuses</span>
      </label>

      <div *ngIf="!sameForAllStatuses" style="max-height: 340px;overflow-y: auto;" class="opd-config-status__card">
        <div class="opd-config-designation-marital-card__default" *ngIf="sectionsForMarital < 5 && configArray.length !== 4">
          <div class="m-form-field-inline">
            <div class="m-form-field__label-wrap">
              <label class="m-form-field__label--medium" for="opd-conf-marital-status">Marital Status</label>
            </div>
            <div class="m-form-field__field">
              <div class="m-form-field__field-item">
                <select class="m-form-field__select " id="opd-conf-marital-status">
                  <option *ngFor="let val of maritalStatusRemoveArray" value="{{val.id}}">{{val.name}}</option>
                </select>
              </div>
            </div>
            <span class="m-form-field__error">error</span>
          </div>
          <div class="m-form-field-inline">
            <div class="m-form-field__label-wrap">
              <label class="m-form-field__label--medium" for="opd-conf-startDate">Start Date</label>
            </div>
            <div class="m-form-field__field">
              <div class="m-form-field__field-item">
                <input class="m-form-field__input" id="opd-conf-startDate" type="date" minlength="0" maxlength="524288"
                       placeholder="text" value="" (change)="validateAddConfigDateRange()">
              </div>
            </div>
            <span class="m-form-field__error">error</span>
          </div>
          <div class="m-form-field-inline">
            <div class="m-form-field__label-wrap">
              <label class="m-form-field__label--medium" for="opd-conf-endDate">End Date</label>
            </div>
            <div class="m-form-field__field">
              <div class="m-form-field__field-item">
                <input class="m-form-field__input" id="opd-conf-endDate" type="date" minlength="0" maxlength="524288"
                       placeholder="text" value="" (change)="validateAddConfigDateRange()">
              </div>
            </div>
            <span class="m-form-field__error">error</span>
          </div>
          <div class="m-form-field-inline">
            <div class="m-form-field__label-wrap">
              <label class="m-form-field__label--medium" for="opd-conf-amount">Amount</label>
            </div>

            <div class="m-form-field__field">
              <div class="m-form-field__field-item">
                <input class="m-form-field__input" id="opd-conf-amount" type="number" minlength="0" maxlength="524288"
                       value="">
              </div>
            </div>
            <span class="m-form-field__error">error</span>
          </div>
          <div>
            <p class="error-message" id="errorMessages" style="color: red; font-size: 12px; font-weight: 600">{{validationErrorMessage}}</p>
          </div>
        </div>
        <div *ngFor="let data of configArray; let i = index" class="opd-config-designation-marital-card__wrapper">
          <div class="m-form-field-inline">
            <div class="m-form-field__label-wrap">
              <label class="m-form-field__label--medium__disabled" for="opd-conf-new-marital-status">Marital Status</label>
            </div>
            <div class="m-form-field__field">
              <div class="m-form-field__field-item">
                <select class="m-form-field__select" id="opd-conf-new-marital-status" [disabled]="true" style="cursor: not-allowed;">
                  <option *ngFor="let val of maritalStatuses" value="{{val.id}}">{{getStatusNameFromID(data.maritalStatusID)}}</option>
                </select>
              </div>
            </div>
            <span class="m-form-field__error">error</span>
          </div>
          <div class="m-form-field-inline">
            <div class="m-form-field__label-wrap">
              <label class="m-form-field__label--medium__disabled" for="opd-conf-new-startDate__{{i}}">Start Date</label>
            </div>
            <div class="m-form-field__field">
              <div class="m-form-field__field-item">
                <input class="m-form-field__input" id="opd-conf-new-startDate__{{i}}" type="date" minlength="0" maxlength="524288"
                       value="{{data.validStart}}" (change)="changeAddConfigArrayValues(i)">
              </div>
            </div>
            <span class="m-form-field__error">error</span>
          </div>
          <div class="m-form-field-inline">
            <div class="m-form-field__label-wrap">
              <label class="m-form-field__label--medium__disabled" for="opd-conf-new-endDate__{{i}}">End Date</label>
            </div>
            <div class="m-form-field__field">
              <div class="m-form-field__field-item">
                <input class="m-form-field__input" id="opd-conf-new-endDate__{{i}}" type="date" minlength="0" maxlength="524288"
                       value="{{data.validEnd}}" (change)="changeAddConfigArrayValues(i)">
              </div>
            </div>
            <span class="m-form-field__error">error</span>
          </div>
          <div class="m-form-field-inline">
            <div class="m-form-field__label-wrap">
              <label class="m-form-field__label--medium__disabled" for="opd-conf-new-amount__{{i}}">Amount</label>
            </div>

            <div class="m-form-field__field">
              <div class="m-form-field__field-item">
                <input class="m-form-field__input" id="opd-conf-new-amount__{{i}}" type="number" minlength="0" maxlength="524288"
                       value="{{data.amount}}" (keyup)="changeAddConfigArrayValues(i)">
              </div>
            </div>
            <span class="m-form-field__error">error</span>
          </div>
        </div>

      </div>

      <div *ngIf="!sameForAllStatuses && configArray.length < 3" style="margin-top: 24px;display: flex;align-items: center;justify-content: flex-end;">
        <span style="color: #147AD6;font-weight: 600; cursor: pointer" (click)="expandSection()"> + Add New Section</span>
      </div>

    </div>

    <div class="o-modal__footer o-modal__footer-sm">
      <div class="o-modal__footer__add">
        <button class="a-btn a-btn--primary a-btn--hide" (click)="hideModal('opdSettingsModalWithDesignation')">Cancel</button>
      </div>


      <button class="a-btn a-btn--primary" (click)="saveNewOpdConfig()">Save</button>
    </div>
    </div>
</div>

<div class="o-modal" id="opdConfigEditModalWithDesignation">
  <div class="o-modal__content-sm" style="max-width: 540px">
    <div class="o-modal__body">
      <div class="o-modal__inner-header">
        <h4 style="color: #147AD6; font-weight: 600 !important; font-size: 18px;">Edit OPD Group</h4>
        <button class="a-btn a-btn--link o-modal__inner-close" (click)="hideModal('opdConfigEditModalWithDesignation')">
          <svg class="a-icon o-modal__close-icon">
            <use xlink:href="#close"></use>
          </svg>
        </button>
        <button class="a-btn a-btn--light o-modal__back-btn u-visible-sm" (click)="hideModal('opdConfigEditModalWithDesignation')">
          <svg class="a-icon u-mr">
            <use xlink:href="#previous"></use>
          </svg>
          Back
        </button>
      </div>

      <div class="m-form-field-inline">
        <div class="m-form-field__label-wrap">
          <label class="m-form-field__label--medium" for="designation-for-opd-edit">Designation</label>
        </div>

        <div class="m-form-field__field">
          <div class="m-form-field__field-item">
            <select class="m-form-field__select " id="designation-for-opd-edit"
                    [disabled]="true" [(ngModel)]="selectedDesignationForAddConfig">
              <option *ngFor="let data of designationList" [ngValue]="data.id">{{data.designation}}</option>
            </select>
          </div>
        </div>

        <span class="m-form-field__error">error</span>
      </div>

      <div class="m-form-field-inline">
        <div class="m-form-field__label-wrap">
          <label class="m-form-field__label--medium" for="year-for-opd-edit">Year</label>
        </div>

        <div class="m-form-field__field">
          <div class="m-form-field__field-item">
            <select class="m-form-field__select " id="year-for-opd-edit"
                    [disabled]="true"  [(ngModel)]="selectedYearForAddConfig">
              <option *ngFor="let data of yearsList">{{data}}</option>
            </select>
          </div>
        </div>
        <span class="m-form-field__error">error</span>
      </div>

      <div class="m-form-field-inline">
        <div class="m-form-field__label-wrap">
          <label class="m-form-field__label--medium" for="opd-conf-edit-marital-status">Marital Status</label>
        </div>
        <div class="m-form-field__field">
          <div class="m-form-field__field-item">
            <select class="m-form-field__select " id="opd-conf-edit-marital-status" [disabled]="true" >
              <option *ngFor="let val of maritalStatuses" value="{{val.id}}">{{val.name}}</option>
            </select>
          </div>
        </div>
        <span class="m-form-field__error">error</span>
      </div>
      <div class="m-form-field-inline">
        <div class="m-form-field__label-wrap">
          <label class="m-form-field__label--medium" for="opd-conf-edit-startDate">Start Date</label>
        </div>
        <div class="m-form-field__field">
          <div class="m-form-field__field-item">
            <input class="m-form-field__input" id="opd-conf-edit-startDate" type="date" minlength="0" maxlength="524288"
                   placeholder="text" value="" (change)="validateEditDateRange()">
          </div>
        </div>
        <span class="m-form-field__error">error</span>
      </div>
      <div class="m-form-field-inline">
        <div class="m-form-field__label-wrap">
          <label class="m-form-field__label--medium" for="opd-conf-edit-endDate">End Date</label>
        </div>
        <div class="m-form-field__field">
          <div class="m-form-field__field-item">
            <input class="m-form-field__input" id="opd-conf-edit-endDate" type="date" minlength="0" maxlength="524288"
                   placeholder="text" value="" (change)="validateEditDateRange()">
          </div>
        </div>
        <span class="m-form-field__error">error</span>
      </div>
      <div class="m-form-field-inline">
        <div class="m-form-field__label-wrap">
          <label class="m-form-field__label--medium" for="opd-conf-edit-amount">Amount</label>
        </div>

        <div class="m-form-field__field">
          <div class="m-form-field__field-item">
            <input class="m-form-field__input" id="opd-conf-edit-amount" type="number" minlength="0" maxlength="524288"
                   value="">
          </div>
        </div>
        <span class="m-form-field__error">error</span>
      </div>

      <div>
        <p class="error-message" id="errorMessage" style="color: red; font-size: 12px; font-weight: 600">{{validationErrorMessage}}</p>
      </div>

    </div>

    <div class="o-modal__footer o-modal__footer-sm">
      <div class="o-modal__footer__add">
        <button class="a-btn a-btn--primary a-btn--hide" (click)="hideModal('opdConfigEditModalWithDesignation')"  style="font-size: 15px">Cancel</button>
      </div>


      <button class="a-btn a-btn--primary" (click)="saveEditOpdConfig()">Save</button>
    </div>
  </div>
</div>

<div class="o-modal" id="deleteConfirmOpdDesignationConfig">
  <div class="o-modal__content-sm edit-personal-details">
    <div class="o-modal__body">
      <div class="o-modal__inner-header header-line__bottom">
        <h4>
          <svg class="a-icon u-mr m-failed-icon">
            <use xlink:href="#bin"></use>
          </svg>
          Confirm Delete</h4>
        <button class="a-btn a-btn--link o-modal__inner-close o-modal__inner-close-sm " (click)="hideModal('deleteConfirmOpdDesignationConfig')">
          <svg class="a-icon o-modal__close-icon">
            <use xlink:href="#close"></use>
          </svg>
        </button>
        <button class="a-btn a-btn--light o-modal__back-btn u-visible-sm">
          <svg class="a-icon u-mr ">
            <use xlink:href="#previous"></use>
          </svg>
          Back
        </button>
      </div>
      <div class="o-modal-review__wraper">
        <h5>Are you sure want to delete this record ?</h5>
      </div>
    </div>
    <div class="o-modal__footer o-modal__footer-sm">
      <div class="o-modal__footer__add">
        <button class="a-btn a-btn--primary" (click)="hideModal('deleteConfirmOpdDesignationConfig')" style="font-size: 15px">Cancel</button>
      </div>
      <button class="a-btn a-btn--primary a-btn--hide" (click)="confirmConfigDeletion()">Confirm</button>
    </div>
  </div>
</div>
