<div class="project-hierrachy-diagram">
  <ul class="project-hierrachy-diagram__list">
    <li class="project-hierrachy-diagram__item">
      <div class="project-hierrachy-diagram__item-box">
        <div class="project-hierrachy-diagram__item-circle"></div>
        <p class="project-hierrachy-diagram__item-name">Employee Name</p>
        <span class="project-hierrachy-diagram__item-position">Position</span>
      </div>
      <ul class="project-hierrachy-diagram__list">
        <li class="project-hierrachy-diagram__item">
          <div class="project-hierrachy-diagram__item-box">
            <div class="project-hierrachy-diagram__item-circle"></div>
            <p class="project-hierrachy-diagram__item-name">Employee Name</p>
            <span class="project-hierrachy-diagram__item-position">Position</span>
          </div>
        </li>
        <li class="project-hierrachy-diagram__item">
          <div class="project-hierrachy-diagram__item-box">
            <div class="project-hierrachy-diagram__item-circle"></div>
            <p class="project-hierrachy-diagram__item-name">Employee Name</p>
            <span class="project-hierrachy-diagram__item-position">Position</span>
          </div>
        </li>
        <li class="project-hierrachy-diagram__item">
          <div class="project-hierrachy-diagram__item-box">
            <div class="project-hierrachy-diagram__item-circle"></div>
            <p class="project-hierrachy-diagram__item-name">Employee Name</p>
            <span class="project-hierrachy-diagram__item-position">Position</span>
          </div>
        </li>
        <li class="project-hierrachy-diagram__item">
          <div class="project-hierrachy-diagram__item-box">
            <div class="project-hierrachy-diagram__item-circle"></div>
            <p class="project-hierrachy-diagram__item-name">Employee Name</p>
            <span class="project-hierrachy-diagram__item-position">Position</span>
          </div>
        </li>
<!--        <li class="project-hierrachy-diagram__item">-->
<!--          <div class="project-hierrachy-diagram__item-box">-->
<!--            <div class="project-hierrachy-diagram__item-circle"></div>-->
<!--            <p class="project-hierrachy-diagram__item-name">Employee Name</p>-->
<!--            <span class="project-hierrachy-diagram__item-position">Position</span>-->
<!--          </div>-->
<!--        </li>-->
      </ul>
    </li>
  </ul>
</div>
