<div class="c-designation-wrapper page-privacy-settings">
  <div class="c-define-designation-group">
    <div class="m-form-field__field password_reset_wrapper">
      <input class="m-form-field__input project-dashboard__search-input" type="text" id="pwdResetKeyToSearch"
             minlength="0" maxlength="524288" placeholder="Search Employee Number Here" value="" (keypress)="inputKeyPress($event)">
      <span class="m-form-field__pre">
        <button id="passwordResetButton" (click)="getPermission()" style="cursor: pointer" type="button" class="password_reset-button">
            <span class="glyphicon glyphicon-search password_reset-icon"></span>
        </button>
      </span>
    </div>

    <div class="m-form-field-inline" style="margin-top: 24px">
      <div class="m-form-field__label-wrap">
        <label class="m-form-field__label--bold">Employee Number</label>
      </div>

      <div class="m-form-field__field">
        <div class="m-form-field__field-item">
          <input class="m-form-field__input" type="text" minlength="0" disabled id="setPermissionEmpNo"
                 maxlength="524288" value="">
        </div>
      </div>

      <span class="m-form-field__error">error</span>
    </div>

    <div class="m-form-field-inline">
      <div class="m-form-field__label-wrap">
        <label class="m-form-field__label--bold">Name</label>
      </div>

      <div class="m-form-field__field">
        <div class="m-form-field__field-item">
          <input class="m-form-field__input" type="text" minlength="0" disabled id="setPermissionName"
                 maxlength="524288" value="">
        </div>
      </div>

      <span class="m-form-field__error">error</span>
    </div>

    <div class="m-form-field-inline">
      <div class="m-form-field__label-wrap">
        <label class="m-form-field__label--bold">Designation</label>
      </div>
      <div class="m-form-field__field">
        <div class="m-form-field__field-item">
          <input class="m-form-field__input" type="text" minlength="0" disabled id="setPermissionDesignation"
                 maxlength="524288" value="">
        </div>
      </div>
      <span class="m-form-field__error">error</span>
    </div>

    <div class="m-form-field-inline">
      <div class="m-form-field__label-wrap">
        <label class="m-form-field__label--bold">Email</label>
      </div>
      <div class="m-form-field__field">
        <div class="m-form-field__field-item">
          <input class="m-form-field__input" type="text" minlength="0" disabled id="passwordResetEmail"
                 maxlength="524288" value="">
        </div>
      </div>
      <span class="m-form-field__error">error</span>
    </div>

    <div class="m-form-field-inline">
      <div class="m-form-field__label-wrap">
        <label class="m-form-field__label--bold">Login Type</label>
      </div>
      <div class="m-form-field__field">
        <div class="m-form-field__field-item">
          <input class="m-form-field__input" type="text" minlength="0" disabled id="passwordResetLoginType"
                 maxlength="524288" value="">
        </div>
      </div>
      <span class="m-form-field__error">error</span>
    </div>

    <div style="justify-content: space-between; display: flex">
      <p class="error-message" id="errorMessage" style="color: red; font-size: 14px; font-weight: 600">{{validationErrorMessage}}</p>

      <div class="page-privacy-settings-action" *ngIf="resetPasswordButton">
        <button class="page-privacy-settings-action__button page-privacy-settings-action__button--primary" (click)="resetUserPassword()">Reset Password</button>
      </div>
      <div class="page-privacy-settings-action" *ngIf="!resetPasswordButton">
        <button class="page-privacy-settings-action__button page-privacy-settings-action__button--primary" disabled style="cursor: not-allowed; opacity: 40%">Reset Password</button>
      </div>
    </div>
  </div>
</div>
