<div *ngIf="checkPermission.checkUserHavePermissionForSection('RoleWiseDistributionGraph')">
  <div class="dashboard-page @@class">
    <div class="dashboard-page__block-main">
      <div class="leave-dashboard__main-header">
        <div class="leave-dashboard-page__right">

          <div class="m-form-field leave-dashboard-form-max">
            <div class="m-form-field__field">
              <select class="m-form-field__select " (change)="changeCompany()"
                      id="companyDropdown">
                <option *ngFor="let company of companyList">{{company}}</option>
              </select>
            </div>
          </div>

        </div>
      </div>

      <div class="dashboard-page__block-wrapper-main">
        <div class="dashboard-page__block-wrapper" id="eRoleGraph">
        </div>
      </div>
    </div>
  </div>
</div>
