/*Card Styles*/
.w3-panel:after, .w3-panel:before {
  content: "";
  display: table;
  clear: both
}

.w3-panel {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 2px;
  background-color: #ffffff !important;
}

.w3-card, .w3-card-2 {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 2px 0px rgba(0, 0, 0, 0.12)
}

.w3-card-4, .w3-hover-shadow:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
}

/*----------------------------------------------------------------------------------*/
input:not([type="submit"]):not([type="button"]):invalid {
  box-shadow: 0 0 1px 1px #ef36484f;
}

/*----------------------------------------------------------------------------------*/
.save-user-button {
  background-color: #006eff;
  color: #FFFFFF;
}

.delete-uploaded-image {
  position: absolute;
  color: #Ef3648;
  font-size: 1.2em;
  right: 16px;
  cursor: pointer;
}
