/*Card Styles*/
.w3-panel:after, .w3-panel:before {
  content: "";
  display: table;
  clear: both
}

.w3-panel {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 2px;
  background-color: #ffffff !important;
}

.w3-card, .w3-card-2 {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 2px 0px rgba(0, 0, 0, 0.12)
}

.w3-card-4, .w3-hover-shadow:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
}


.nav-tabs > li.active > a {
  background-color: transparent;
  border: none;
}

.tabs-left {
  border-bottom: none;
  padding-top: 2px;
}

.tabs-left {
  border-right: 1px solid #ddd;
}

.tabs-left > li {
  float: none;
  margin-bottom: 2px;
}

.tabs-left > li {
  margin-right: -1px;
}

.tabs-left > li.active > a,
.tabs-left > li.active > a:hover,
.tabs-left > li.active > a:focus,
.tabs-left > li.active > a > .mobile-sidebar-icon:before,
.tabs-left > li.active > a:hover > .mobile-sidebar-icon:before,
.tabs-left > li.active > a:focus > .mobile-sidebar-icon:before {
  border-bottom-color: #ddd;
  border-right-color: transparent;
  color: #006eff;
}

.tabs-left > li > a {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  display: block;
  color: #333333;
  font-size: 14px;
  padding: 6px 8px;
  word-break: break-word !important;
}

/*--------------------------------------------------------------------------------------------------------------------*/
.list-divider {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.divider {
  height: 1px;
  margin: 9.5px 0;
  overflow: hidden;
  /*background-color: rgba(0, 0, 0, 0.2)*/
}


.selecting-year{
  font-weight: 550 !important;
  color: #006eff;
  font-family: 'Rubik', sans-serif;
  font-size: 15.5px;
}


.attendance-admin-project-select {
  margin-top: 3px;
}


.leave-user-redirect-button {
  background-color: #006eff;
  color: white;
  border-radius: 4px;
}
.modal-demo .ui-modal{
  width: 700px;
  height: 700px;
}

.appraisal-nav-header{
  width : 400px;
}
