<div class="w3-panel w3-card">

  <div *ngIf="loadedCycleData && cycleStatusData.length > 0">
  <div *ngFor="let cycleDetail of cycleStatusData">
    <div class="fb-header">
      <h5 class="fb-title">{{cycleDetail.cycleName}}</h5>
    </div>

    <div class="div-separator-small"></div>

    <div>
      <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
          <div
            class="progress"
            style="height: 27px !important;padding: 0px!important;background-color: #f6f6f6!important;border: 0px solid #ccc!important;border-radius: 5px;">
            <div
              class="progress-bar progress-bar-striped progress-bar-animated"
              [style.width.%]="cycleDetail.complete.percentage"
              style="line-height: 26px !important;background-color: #28a745!important">
              {{cycleDetail.complete.text}}
            </div>
            <div
              class="progress-bar progress-bar-striped progress-bar-animated"
              [style.width.%]="cycleDetail.incomplete.percentage"
              style="line-height: 26px !important;background-color: #dc3545!important">
              {{cycleDetail.incomplete.text}}
            </div>
          </div>
        </div>
        <div class="col-sm-1">
        </div>
      </div>

      <div class="row">

        <div class="col-sm-1">
        </div>


        <div class="col-sm-10">

          <div class="row">

            <div class="col-sm-6">

              <h5 class="group-list header-font-color">{{cycleDetail.complete.listHeader}}</h5>
              <div class="scrollbar" id="progressbar-complete">
                <div class="force-overflow">
                  <ul
                    class="list-group group-list"
                    style="margin-bottom: 0px !important; font-size: 12px !important;"
                    *ngFor="let completeSet of cycleDetail.complete.listData">
                    <li class="list-group-item" style="padding: 5px 5px !important;">{{completeSet}}</li>
                  </ul>
                </div>
              </div>

            </div>

            <div class="col-sm-6">

              <h5 class="group-list header-font-color">{{cycleDetail.incomplete.listHeader}}</h5>
              <div class="scrollbar" id="progressbar-uncomplete">
                <div class="force-overflow">
                  <ul
                    class="list-group group-list"
                    style="margin-bottom: 0px !important; font-size: 12px !important;"
                    *ngFor="let inCompleteSet of cycleDetail.incomplete.listData">
                    <li class="list-group-item" style="padding: 5px 5px !important;">{{inCompleteSet}}</li>
                  </ul>
                </div>
              </div>

            </div>

          </div>

        </div>


        <div class="col-sm-1">
        </div>


      </div>

    </div>
    <hr>
  </div>
  </div>

  <div class="fb-header">
    <h5 class="fb-title">Followers FeedBack Cycles</h5>
  </div>
  <div class="fb-container">
    <div class="">
      <div class="">
        <div *ngIf="allFeedbackData.length === 0" class="div-no-records">
          <img src="assets/image/bad_face.svg">
          <h4>No records available!</h4>
        </div>
      </div>
      <div *ngIf="allFeedbackData.length > 0" class="panel-group" id="accordion">
        <div *ngFor="let empFeedback of allFeedbackData; let i = index;"
          class="panel panel-default fb-emp-feedbak-container">
          <div class="panel-heading">
            <div class="panel-heading row">
              <a data-parent="#accordion" data-toggle="collapse" href="#collapse{{i}}" aria-expanded="false">
                <div class="col-sm-1">
                  <a
                    data-parent="#accordion" data-toggle="collapse"
                    href="#collapse{{i}}" aria-expanded="false">
                    <img
                      class="media-object img-circle point-cursor img-profile" src="{{empFeedback.followerInfo.image}}"
                      alt="">
                  </a>
                </div>
                <div class="col-sm-1 panel-title">
                  <a
                    data-toggle="collapse" data-parent="#accordion"
                    href="#collapse{{i}}">{{empFeedback.followerInfo.empId}}</a>
                </div>
                <div class="col-sm-3 panel-title">
                  <a
                    data-toggle="collapse" data-parent="#accordion"
                    href="#collapse{{i}}">{{empFeedback.followerInfo.name}}</a>
                </div>
                <div class="col-sm-5 panel-title">
                  <a
                    data-toggle="collapse" data-parent="#accordion"
                    href="#collapse{{i}}">{{empFeedback.followerInfo.designation}}</a>
                </div>
                <div class="col-sm-2">
                  <div class="">
                    <button
                      (click)="redirectToProfileFeedback(empFeedback.followerInfo.empId, empFeedback.followerInfo.name,empFeedback.followerInfo.empNo)"
                      class="btn btn-sm btn-default btn-redirect pull-right">Go to Feedback
                      <i class="fa fa-arrow-right"></i>
                    </button>
                  </div>
                </div>
              </a>
            </div>
            </div>
            <div id="collapse{{i}}" class="panel-collapse collapse">
              <div class="panel-body">
                <div *ngFor="let feedbackCycle of feedBackCycleData" class="fb-cycle-container">

                  <div class="row">
                    <div class="col-sm-9">
                      <div class="media">
                        <div class="media-left">
                          <span><i class="fa fa-file-text"></i></span>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading title-header-h4 fb-title-2">{{feedbackCycle.cycleName}}
                            <small><i>{{feedbackCycle.startDate}} - {{feedbackCycle.endDate}}</i></small>
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="btn-group" *ngFor=" let btn of feedbackCycle.cycleViewStatuses">
                        <button
                          type="button"
                          (click)="changeBtnStatus(empFeedback.followerInfo.empId,feedbackCycle.id, btn.id, btn.type,btn.status)"
                          [ngClass]="getCycleStatus(btn.type,btn.status)"
                          style="border: 1px solid transparent;font-size: 12px; line-height: 0.8;margin-right: 5px;border-radius: 5px;">{{btn.label}}
                        </button>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

